<%- include("./partials/header") %>

<div class="container">
	<div>
		<h1 id="feat">Features Available</h1>
		<ul>
			<li class="feature">
				<h2>Responsiveness</h2>
				<ul>
					<li>Mobile</li>
					<li>PC</li>
				</ul>
			</li>
			<li class="feature">
				<h2>Authentication</h2>
				<ul>
					<li>Local strategy implementation</li>
					<li>Password reset with email verification</li>
				</ul>
			</li>
			<li class="feature">
				<h2>User roles</h2>
				<ul>
					<li>Creator</li>
					<li>Admin</li>
					<li>Registered User</li>
					<li>Visitors</li>
				</ul>
			</li>
			<li class="feature">
				<h2>Authorization</h2>
				<ul>
					<li>Authorized user have accessibilty to certain information or permissions to handle it</li>
				</ul>
			</li>
			<li class="feature">
				<h2>API based</h2>
				<ul>
					<li>Cloud image upload with Cloudinary</li>
					<li>Street view maps of each sight with Mapbox</li>
					<li>Fonts with Google Fonts</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<%- include("./partials/footer") %>