<!DOCTYPE html>
<html>
<head>
	<title>Spots Capsule</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="wrapper">
		<h1>Login</h1>
  		<div id="formContent">
			
    		<form action="/login" method="POST">
      			<input type="text" name="username" placeholder="User Name">
      			<input type="password" name="password" placeholder="Password">
      			<input type="submit" value="Log In">
    		</form>

    		<div id="formFooter">
      			<a href="/forgot" style="border-right: 2px solid #56baed; padding-right: 5px">Forgot Password?</a>
				<a href="/users/new">Sign up</a>
    		</div>

  		</div>
	</div>
</body>
</html>