body {
	height: 100%;
	background: -webkit-linear-gradient(to right, #e55d87, #5fc3e4);
  	background: linear-gradient(to right, #e55d87, #5fc3e4);
}

nav {
	background-color: #000;
	font-family: 'Itim', cursive;
	font-weight: 700;
}

.nav-link {
	color: #d7d7d9;
}

#userPic {
	height: 30px;
  	width: 30px;
  	border-radius: 50%;
	object-fit: cover;
}

.row {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
} 

#profileBox {
	background: white;
	text-align: center;
	border: 3px solid #4f4c42;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

#profileBox img {
	height: 200px;
  	width: 200px;
  	border-radius: 50%;
	object-fit: cover;
}

footer {
	margin-top: 3.6rem;
}

@media (orientation: landscape) {
	
	nav {
		margin-bottom: 1.5rem
	}
	
	footer {
		margin-top: 1.5rem;
	}
	
}