@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Roboto+Condensed&display=swap');

body {
	height: 100%;
	background: -webkit-linear-gradient(to right, #e55d87, #5fc3e4);
  	background: linear-gradient(to right, #e55d87, #5fc3e4);
	margin-top: 100px;
}

nav {
	background-color: #5c6bc0;
	font-family: 'Itim', cursive;
	font-weight: 700;
}

.nav-link {
	color: #d7d7d9;
}

#userPic {
	height: 30px;
  	width: 30px;
  	border-radius: 50%;
	object-fit: cover;
}

.row {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
} 

#profileBox {
	background: white;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	border: 3px solid #4f4c42;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

#profileBox h2 {
	font-family: 'Goldman', cursive;
}

#profileBox img {
	height: 200px;
  	width: 200px;
  	border-radius: 50%;
	object-fit: cover;
}

.footer1 {
	margin-top: 3.6rem;
}

.footer2 {
	margin-top: 4.7rem;
}

.footer3 {
	margin-top: 7.4rem;
}

@media (orientation: landscape) {
	
	nav {
		margin-bottom: 1.5rem
	}
	
}